////
/// Document level styles: font and root level elements
///
/// @group Global
/// @author Renato de Leão
////

// from @whitesmith/qnorr-styles
@include font-face('/fonts/inter/Inter-Regular', Inter, 400);
@include font-face('/fonts/inter/Inter-SemiBold', Inter, 600);
@include font-face('/fonts/inter/Inter-ExtraBold', Inter, 800);

:root {
  --vh: 1vh;
}

body {
  font-family: $posr-primary-font;
  background: get-color(grayscale, 900, $posr-color-maps);
  color: white;
  overflow-x: hidden;

  &.no-overflow {
    overflow: hidden;
  }
}

// tmp: remove me
#root {
  min-height: 100vh;

  // apply masthead space padding
  @each $bp, $config in $posr-masthead-setup-map {
    $pos: map-get($config, position);
    $size: map-get($config, size);
    $posVal: if($pos, $size, null);
    $rule: "padding";

    @if not $bp {
      #{$rule}-#{$pos}:  $size;
    } @else {
      @include mappy-bp($bp) {
        @if $pos == "right" {
          #{$rule}-left: 0;
          #{$rule}-right: $size;
        } @else if $pos == "left" {
          #{$rule}-right: 0;
          #{$rule}-left: $size;
        }
      }
    }
  }
}

a { text-decoration: underline }

strong { font-weight: 800 }
