{{ $now := now.Format "2006"}}
{{ $pkg := getJSON "package.json" }}

<footer class="c-footer">
  <div class="o-wrapper">
    <div class="o-grid o-grid--auto-width-columns" data-flout="align-center--">
      <div class="o-grid__column u-12/12 u-3/12@sm">
        <a class="c-button c-button--xl c-button--nightly u-12/12" href="mailto:{{ .Site.Data.contacts.email.primary }}">
          <span class="c-button__text">Say hello</span>
          <span class="c-button__icon">*</span>
        </a>
      </div>
      <div class="o-grid__column u-6/12@sm u-push-3/12@sm">
        <p data-hanging-content="*" class="c-footer__smallcopy">Only if you’re pretty sure you don’t have a fourteen years old cousin who can do it better.</p>
      </div>
    </div>
    <div class="c-footer__copyrights">
      <small><strong>position:relative™</strong> is created, written and maintained by Renato de Leão with help from all around the world. &copy; 2019{{if ne $now "2019"}} — {{$now}}{{end}}</small>
      <small>
        v{{ $pkg.version }}
      </small>
    </div>
  </div>
</footer>
