{{ define "main" }}
  <div style="background-image: url(/images/xmas.webp); position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0;"></div>
  <section class="o-wrapper c-intro" style="margin: auto">
    <div data-flitem="center--">
      <h1 class="c-intro__body-text" style="background: white">Merry Xmas!</h1>
      <img src="/images/signature.png" alt="renato pretty handwritting" style="background: white" />
    </div>
  </section>
{{ end }}

{{ define "footer" }}
<span></span>
{{ end }}
