<!DOCTYPE html>
<html lang="en">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <div id="root">
    <div class="o-skeleton">
      <div class="o-skeleton__head">
      {{- partial "masthead.html" . -}}
      </div>
      <main class="o-skeleton__body" id="main" role="main">
        {{- block "main" . }}{{- end }}
      </main>

      <div class="o-skeleton__feet">
      {{- partial "footer.html" . -}}
      </div>
    </div>
  </div>

  <!-- Javascript -->
  {{- block "scripts" . }}
    {{- partial "js.html" . -}}
  {{- end }}
</body>
</html>