<!DOCTYPE html>
<html lang="en">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <div id="root" class="o-skeleton">
    {{- partial "masthead.html" . -}}

    <main class="o-skeleton__body" id="main" role="main">
      {{- block "main" . }}{{- end }}
    </main>

    <div class="o-skeleton__tip">
      <div class="o-wrapper">
        {{- partial "footer.html" . -}}
      </div>
    </div>
  </div>

  <!-- Javascript -->
  {{- block "scripts" . }}
    {{- partial "js.html" . -}}
  {{- end }}
</body>
</html>
