<!DOCTYPE html>
<html lang="en">
<head>
  {{- partial "site/head.html" . -}}
</head>
<body>
  <div id="root" class="o-skeleton">
    {{- partial "components/masthead/masthead.html" . -}}

    <main class="o-skeleton__body" id="main" role="main">
      {{- block "main" . }}{{- end }}
    </main>

    <div class="o-skeleton__tip">
      {{- block "footer" . }}
        {{- partial "site/footer.html" . -}}
      {{- end }}
    </div>
  </div>

  <!-- Javascript -->
  {{- block "scripts" . }}
    {{- partial "site/js.html" . -}}
  {{- end }}
</body>
</html>
