////
/// Document level styles: font and root level elements
///
/// @group Global
/// @author Renato de Leão
////

// from @whitesmith/qnorr-styles
@include font-face('/fonts/inter/Inter-Regular', Inter, 400);
@include font-face('/fonts/inter/Inter-SemiBold', Inter, 600);
@include font-face('/fonts/inter/Inter-Bold', Inter, 700);

@include font-face('/fonts/rajdhani/Rajdhani-Regular', Raj, 400);
// @include font-face('/fonts/rajdhani/Rajdhani-Medium', Raj, 500);
// @include font-face('/fonts/rajdhani/Rajdhani-SemiBold', Raj, 600);
@include font-face('/fonts/rajdhani/Rajdhani-Bold', Raj, 700);

:root {
  --vh: 1vh;
}

body {
  font-family: $posr-primary-font;
  color: get-color(grayscale, 900, $posr-color-maps);

  &.no-overflow {
    overflow: hidden;
  }
}


// tmp: remove me
#root {
  min-height: 100vh;

  // apply masthead space padding
  @each $bp, $config in $posr-masthead-setup-map {
    $pos: map-get($config, position);
    $size: map-get($config, size);
    $posVal: if($pos, $size, null);
    $rule: "padding";

    @if not $bp {
      #{$rule}-#{$pos}:  $size;
    } @else {
      @include mappy-bp($bp) {
        @if $pos == "right" {
          #{$rule}-left: 0;
          #{$rule}-right: $size;
        } @else if $pos == "left" {
          #{$rule}-right: 0;
          #{$rule}-left: $size;
        }
      }
    }
  }
}

a:not(.c-button) { text-decoration: underline !important}
strong { font-weight: 800 }


* {
  scrollbar-color: black transparent;
  scrollbar-width: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb-horizontal {
  background-color:black;
}


[data-hanging-content]:before {
  content: attr(data-hanging-content);
  margin-left: -0.52em; // for Inter
}
