////
/// Site wide variables
/// @group Settings
/// @author Renato de Leão
////

$posr-primary-font: Inter, Helvetica Neue, sans-serif;
$posr-secondary-font: Raj, #{$posr-primary-font};

$posr-color-maps: (
  grayscale: (
    100: #f1f0f1,
    700: #101010,
    900: #010101
  )
);

$posr-transitions-map: (
  eease: cubic-bezier(.445,.05,.55,.95),
  tense: cubic-bezier(.7,0,.29,1),
  super-tense: cubic-bezier(.79,.03,.17,.97)
);

$posr-masthead-setup-map: (
  null: (
    size: 40px,
    position: right,
  ),
  xxs: (
    size: 48px,
    position: right,
  ),
  sm: (
    size: 56px,
    position: right,
  ),
  mdl: (
    size: 64px,
    position: left
  )
);

///
/// @whitesmith/qnorr-styles overrides
$qnorr-font-family: $posr-primary-font;

