///
/// Intro hero blocks of each page
/// @group Components
///
.c-intro {
  position: relative;
  //flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: {
    top: 5vw;
    bottom: 5vw;
  }

  margin-bottom: 60px;

  @include mappy-bp(sm){
    margin-bottom: 5vw;
  }
}

  .c-intro__heading {
    @include fluid-type(28px, 40px, 'xxs', 'lg');
    // doens't allow unitless values [ask for update]
    @include fluid-type(32px, 40px, 'xxs', 'lg', 'line-height');
    font-weight: 600;
    letter-spacing: -0.025em;

    sup {
      margin-left: 0.1em;
    }

    @include mappy-bp(lg){
      @include fluid-type(32px, 48px, 'lg', 'xl');
      @include fluid-type(64px, 72px, 'lg', 'xl', 'line-height');
    }
  }

