.c-section {
  position: relative;
  margin-bottom: 120px;

  @include mappy-bp(sm){
    margin-bottom: 5vw;
  }
}

  .c-section__title {
    font-family: Raj, system-ui;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: $qnorr-pixel-grid-unit*4;
  }
