{{ define "main" }}
  <header>
    <h1>Hello! I’m Renato de Leão, a portuguese cross-media designer, front-end developer and partner at Whitesmith, so a poser way of saying I build websites and apps<h1>
    <p>position:relative™ is like life itself: a non-ending work-in-progress, so you should expect things to change a lot around here in a near future. In the meantime, you skim through my blog and check if there’s anything worth of your time or take a look at my lab where my latest experiments live. If you’re pretty sure you don’t have a four years old cousin who can do it better, say something.  </p>
  </header>
{{ end }}