{{ define "main" }}
  <section class="o-wrapper c-intro" data-flitem="center--">
    <h1 class="c-intro__body-text">Hello! I’m Renato de Leão, a portuguese <s>cross-media designer</s><sup><small><i>retired</i></small></sup>, front-end developer and partner at Whitesmith, so a poser way of saying I build websites and apps. <strong>position:relative</strong> is like life itself: a non-ending work-in-progress, so you should expect things to change a lot around here in a near future. In the meantime, you can skim through my <s><a>blog</a></s><sup><small><i>soon</i></small></sup> and check if there’s anything worth of your time or take a look at my <a href="{{ .Site.Data.contacts.lab.url }}" target="_blank">lab</a> where my latest experiments live. If you’re pretty sure you don’t have a four years old cousin who can do it better, <a href="mailto:renatodeleao@gmail.com" target="_blank">say something</a>.</h1>
  </section>
{{ end }}
